* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

.image {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.image img {
    display: block;
}

.slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}
